fastapi
uvicorn
python-dotenv
supabase
python-jose[cryptography]
bcrypt
python-multipart

numpy
pandas
opencv-python-headless
scikit-learn
# librosa
# resemblyzer
dlib
face-recognition
face-recognition-models
Pillow
setuptools==80.9.0